mixin text-block(data)
  .text-block&attributes(attributes)
    if(data.wave)
      +icon("wave", 66, 10).text-block__wave-img
    if(data.title)
      h2.title.title--h2= data.title
    if(data.boldText)
      p.text-block__text.text-block__text--style-bold= data.boldText
    if(data.defaultText)
      each item in data.defaultText
        p.text-block__text.text-block__text--style-default= item
    if(data.list)
      ul.list
        each item in data.list
          li.list__item.list__item--style-default= item
    if(data.button)
      .more-button
        +icon("more_but", 73, 50).more-button__arrow
        p.more-button__text.more-button__text--style-default= 'Подробнее'




